<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@2"></script>
</head>

<body>
    <div id="app">
        <form action="/search" method="post">
            <label for="" id="text_search">검색어</label>
            <input type="text" v-model="search_word" id="search_word">
            <input type="submit" value="착지">
        </form>
        <div v-for="item in items" v-bind:key="item.id">
            <span>{{item.title}}</span>
        </div>
    </div>

    <script>
        var vm = new Vue({
            el: 'div#app',
            data: {
                search_word: '',
                items: [{
                    id: 1,
                    title: 'Vue.js'
                }, {
                    id: 2,
                    title: 'React.js'
                }]
            }
        })
    </script>
</body>

</html>